version: 2
updates:
  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: weekly
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
