# Random directories we don't need in the iamge
/.claude
/.devcontainer
/.github
/.vscode
/build
/tmp

# artifacts of building/testing
/dist
/coverage
/proxysql-agent
*.so

# docs don't need to be in the image
/docs
*.md
