# normally we'd ignore this, but i want the repo in the image so that we can 
# run git commands in the build process
#/.git

/.github
/tmp

# artifacts of building/testing
*.so
/coverage
/proxysql-agent

# docs don't need to be in the image
*.md
