# Go workspace file
go.work

# Binaries for programs and plugins
/proxysql-agent
/dist
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
*.out

# test coverage output
coverage
tmp

dist/
