# Go workspace file
go.work

# Binaries for programs and plugins
/proxysql-agent
/dist
*.exe
*.exe~
*.dll
*.dylib
*.so

# Test binary, built with `go test -c`
*.out
*.test

# Test coverage output and a temp directory
/coverage
/tmp